
#reset-form {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#back-link {
    font-size: 24px;
}

#send-email-button:disabled {
    cursor: not-allowed;
    background: rgb(0, 102, 255);
}

#send-email-button:disabled:hover {
    transform: none;
}

